<nav>
	<ul>
		<li>
			<a class="nav_a" href= "{{ 'index.html' | relative_url}} ">
				INICIO
			</a>
		</li>
		<li>
			<a class="nav_a" href= "{{ 'about.html' | relative_url }}">
				ACERCA DE MI
			</a>
		</li>
		<li>
			<a class="nav_a" href= "{{ 'proyectos.html' | relative_url }}">
				PROYECTOS
			</a>
		</li>
		<li>
			<a class="nav_a" href= "{{ 'borradores.html' | relative_url }}">
				BORRADORES
			</a>
		</li>
		<li>
			<a class="nav_a" href= "{{ 'blog.html' | relative_url }}">
				BLOG
			</a>
		</li>
	</ul>
</nav>