<nav>
	<ul>
		<li>
			<a class="nav_a" href= "{{ 'index.html' | relative_url}} ">
				INICIO
			</a>
		</li>
		<li>
			<a class="nav_a" href= "{{ 'acerca_de_mi/index.html' | relative_url }}">
				ACERCA DE MI
			</a>
		</li>
		<li>
			<a class="nav_a" href= "{{ 'proyectos/index.html' | relative_url }}">
				PROYECTOS
			</a>
		</li>
		<li>
			<a class="nav_a" href= "{{ 'borradores/index.html' | relative_url }}">
				BORRADORES
			</a>
		</li>
		<li>
			<a class="nav_a" href= "{{ 'blog/index.html' | relative_url }}">
				BLOG
			</a>
		</li>
	</ul>
</nav>