---
layout: default
---

<section class="blog_1">

  <ul>
    {% for post in paginator.posts %}
      <li class="blog_article">
        <a href="{{ post.url }}"> {{ post.title }} </a>
        <p> {{ post.date }} </p>
      </li>
    {% endfor %}
  </ul>

  <!-- Paginación -->

  {% if paginator.total_pages > 1 %}
  <ul class="pager">
    {% if paginator.previous_page %}
    <li>
      <a class="prev_siguiente" href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Previo</a>
    </li>
    {% endif %}

  {% if paginator.page_trail %}
    {% for trail in paginator.page_trail %}
      <li {% if page.url == trail.path %}class="selected"{% endif %}>
          <a href="{{ trail.path | prepend: site.baseurl | replace: '//', '/' }}" title="{{trail.title}}">{{ trail.num }}</a>
      </li>
    {% endfor %}
  {% endif %}

    {% if paginator.next_page %}
    <li>
      <a class="prev_siguiente" href="{{ paginator.next_page_path | prepend: site.baseurl }}">Siguiente</a>
    </li>
    {% endif %}
  </ul>
  {% endif %}

</section>

<section class="blog_2">

  <h1> Mis Post </h1>

  {{content}} 

</section>