---
layout: default
---

<section id="titulo_de_sección_de_contacto">
  <h1>
    CONTÁCTAME
  </h1>
</section>

<section>

  <form id="formulario_de_contacto" action="https://formspree.io/f/mvodeoby" method="POST">

    <label>
      Nombres y apellidos:
    </label>
    <input type="email" name="_replyto" placeholder="Escribe tus nombres y apellidos"/>

    <label>
      Correo electrónico:
    </label>
    <input type="email" name="_replyto" placeholder="Escribe tu correo electrónico"/>

    <label>
      Mensaje:
    </label>
    <textarea name="message" placeholder="Escribe tu mensaje (hasta 300 carácteres)" maxlength="300"></textarea>

    <!-- your other form fields go here -->
    
    <button type="submit">
      ENVIAR
    </button>

  </form>

</section>


